@using Microsoft.Ajax.Utilities
@model IEnumerable<WEB.Models.RequestModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Requests List: </h2>

<table class="table table-striped">
    <tr>
        <th>
            <p>Subject</p>
        </th>
        <th>
            <p>Delivery Date</p>
            </th>
        <th>
            <p>Resource Type</p>
            </th>
        <th>
            <p>Request Status</p>
        </th>
        <th style="padding-right: 30px;">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.context)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resourceType)
            </td>
            <td>
                    @if (item.status != null)
                    {
                        @(item.status == false ? "Opened" : "Closed")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.status)

                    }

            </td>
            <td>
                <a href="@Url.Action("","")"><i class="fas fa-check" style="color: green"><span><strong>  |  </strong></span></i></a>
                <a onclick="deleteRequest(@item.id)"><i class="fas fa-trash" style="color: grey"><span></span></i></a>
            </td>
        </tr>
    }

</table>
@section scripts
{
    <script>
        function deleteRequest(id) {
            alertify.confirm('Levio Map',
                'Are you sure you want to delete this request ?',
                function () {
                    $.ajax({
                        type:
                    });
                }, null);
        }
    </script>
}
